.green-background Label {
    -fx-text-fill: green;
}

:disabled {
    /* Stili per i nodi disabilitati */
    -fx-opacity: 0.5; /* Opacità ridotta */
    -fx-background-color: lightgray; /* Colore di sfondo */
    -fx-text-fill: darkgray; /* Colore del testo */
}